<h1>Contacts</h1>
<% @contact.each do |cont| %>
  <p>Name: <a href="/contacts/:<%=cont.id%>"><%=  cont.first_name %> <%= cont.last_name %></a><br>
    E-mail: <%= cont.email %><br>
    Phone Number: <%= cont.phone_number %>
  </p>
<% end %>
